NEXT_PUBLIC_SUPABASE_URL=https://tmfybgzurgztpmrwspgn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRtZnliZ3p1cmd6dHBtcndzcGduIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE5MDc0MDgsImV4cCI6MjA3NzQ4MzQwOH0.Vb-v_G4qEmlVyoJh6RAbKOlDvbYHWncuEWyhziray9Q
NEXT_PUBLIC_EMPLOYEE_LOGIN_DOMAIN=filemarket.com
